.coin__td {
  padding: 20px 0;
  border-bottom: 1px solid rgb(59, 54, 54);
}
.coin__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}
.coin__main__image {
  width: 45px;
  height: 45px;
}
.coin__main__name {
  margin: 0px 6px;
  font-weight: bold;
}
.coin__data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}
.coin__data__change--down {
  color: rgb(234, 57, 67);
}
.coin__data__change--up {
  color: rgb(22, 199, 132);
}
