.headline {
  font-size: clamp(2.1rem, 5vw, 3rem);
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  font-family: "Lato", sans-serif;
}
.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: clamp(15rem, 50vw, 33rem);
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}
.searchbar__input {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid white;
  padding: 10px 0px 10px 40px;
  border-radius: 7px;
  background-color: white;
  font-size: 14px;
  color: black;
  font-family: "Lato", sans-serif;
}
.searchbar__icon {
  font-size: 25px;
  left: 10px;
  margin-top: 7.5px;
  color: black;
  display: flex;
  position: absolute;
  cursor: text;
}
.page__wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  justify-content: flex-end;
  align-items: center;
}
.page {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
  width: 150px;
  margin-bottom: 10px;
}
.mark {
  border: 1px solid rgb(90, 80, 80);
  font-size: 35px;
  cursor: pointer;
  padding: 3px 6px 0px 6px;
  border-radius: 2px;
}
.mark--disabled {
  color: gray;
  border: 1px solid rgb(90, 80, 80);
  font-size: 35px;
  padding: 3px 6px 0px 6px;
  pointer-events: none;
  border-radius: 2px;
}


.table__wrapper {
  overflow-x: auto;
}
.table {
  width: 100%;
  text-align: right;
  max-width: 1500px;
  margin: 0 auto;
  border-collapse: collapse;
}
.table__th {
  padding: 15px 0px;
  border-bottom: 1px solid rgb(59, 54, 54);
  border-top: 1px solid rgb(59, 54, 54);
}
.table__rank {
  padding-left: 5px;
}
.table__name {
  width: 230px;
}
.table__price,
.table__marketcap {
  padding-right: 20px;
}
.table__name,
.table__rank {
  text-align: left;
}
.table__volume {
  padding-right: 5px;
}
