.headline {
  font-size: 40px;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  font-family: "Lato", sans-serif;
}
.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 500px;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}
.searchbar__input {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid white;
  padding: 10px 0px 10px 40px;
  border-radius: 7px;
  background-color: white;
  font-size: 14px;
  color: black;
  font-family: "Lato", sans-serif;
}
.searchbar__icon {
  font-size: 25px;
  margin-top: 2px;
  left: 10px;
  color: black;
  display: flex;
  position: absolute;
}
.coin {
  width: 100%;
  text-align: right;
  max-width: 1500px;
  margin: 0 auto;
}
.table__name {
  text-align: left;
}
