// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');
// Other SCSS
@import "./components/App.scss";
@import "./components/Coin/Coin.scss";

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #17171a;
  color: white;
}
#root {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    rgb(34, 37, 49) 0%,
    rgba(34, 37, 49, 0) 413px
  );
}
